@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Poppins:ital,wght@0,600;0,700;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanuman&family=IM+Fell+Double+Pica+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Inter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Inter:wght@100;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*=================Inicio=================*/

.section-1-bg {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

aside {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  overflow: hidden;
}

.icon-menu img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  margin-top: 15px;
  margin-right: 25px;
}

#barra-menu {
  background: #180127;
  height: 100vh;
  width: 0px;
  transition: 0.3s all;
}

#barra-menu ul li {
  list-style: none;
  padding: 15px;
}

#barra-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  width: 100%;
}

#barra-menu ul li a:hover {
  border: solid 1px #c229aa;
  padding: 8px;
  border-radius: 15px;
  background: #7601c4;
}

.C-icon {
  margin-top: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 15px;
  overflow: hidden;
}

.C-icon span {
  color: #fbf7f7;
}

.C-icon span:hover {
  transition: 0.2s;
  transform: 0.5;
  color: #c229aa;
}
.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 55%;
  flex-wrap: wrap;
}
.main-title h1 {
  font-size: 70px;
  color: #fff;
  margin-top: 15%;
  font-family: "Poppins";
  font-weight: bold;
  letter-spacing: 2px;
}
.main-title h2 {
  color: #fe002d;
  font-size: 50px;
  font-family: "Hanuman ";
  font-weight: bold;
  letter-spacing: 2px;
}
.main-title h5 {
  color: #fff;
  font-size: 15px;
  font-family: "Hanuman";
  letter-spacing: 2px;
  font-weight: 200;
}
.main-title button {
  width: 15%;
  margin-top: 80px;
  padding: 8px 5px;
  font-size: 20px;
  background-color: #fe002d;
  border-radius: 50px;
  color: #fbf7f7;
  font-weight: bold;
  font-family: "Inter";
  cursor: pointer;
  transition-duration: 0.9s;
}
.main-title button:hover {
  border: solid 1px #fff;
  transition: 0.7s;
  background: transparent;
}
.numeros {
  display: flex;
  margin-top: 35px;
  color: #fff;
  gap: 40px;
  cursor: pointer;
  transition: 0.5s;
}
.title h3 {
  font-size: 35px;
  margin-top: 15px;
  font-family: "Inter";
  font-weight: bold;
}
.title p {
  font-family: "Inter";
  font-weight: normal;
}
.title:hover {
  transition: 1.2;
  transform: scale(1.1);
}
@media screen and (max-width: 414px) {
  .main-title h1 {
    font-size: 40px;
    margin-top: 75%;
    margin-right: 15%;
  }
  .main-title h2 {
    font-size: 25px;
    margin-right: 15%;
  }
  .main-title button {
    width: 150px;
  }
  .numeros {
    margin-right: 25%;
    margin-top: 50%;
  }
}
